assignment1.txt
[{"id":"4da7fa24.5fdc14","type":"random","z":"3f412fda.d17f2","name":"random number","low":"0","high":"10","inte":"true","x":280,"y":260,"wires":[["80ce802e.f96a7"]]},{"id":"dfffd882.c2d5d8","type":"debug","z":"3f412fda.d17f2","name":"debug","active":true,"console":"false","complete":"payload","x":630,"y":260,"wires":[]},{"id":"c070fbde.5c6898","type":"inject","z":"3f412fda.d17f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":110,"y":260,"wires":[["4da7fa24.5fdc14"]]},{"id":"80ce802e.f96a7","type":"function","z":"3f412fda.d17f2","name":"generate sentence","func":"number = msg.payload;\nif(number < 5){\n    msg.payload = \"Number \" + number + \" is a low number\";\n} else {\n    msg.payload = \"Number \" + number + \" is a high number\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["dfffd882.c2d5d8"]]}]