assignment2.txt
[{"id":"c165e3c5.d9ddc","type":"http in","z":"f2d56ff3.40553","name":"/time","url":"/time","method":"get","swaggerDoc":"","x":70,"y":240,"wires":[["d08b92bc.7986e"]]},{"id":"1962d471.977b4c","type":"http response","z":"f2d56ff3.40553","name":"","x":1130,"y":400,"wires":[]},{"id":"d08b92bc.7986e","type":"function","z":"f2d56ff3.40553","name":"setCurrentTime","func":"// For the time now\nDate.prototype.timeNow = function () {\n    return ((this.getHours() < 10)?\"0\":\"\") + this.getHours() +\":\"+ ((this.getMinutes() < 10)?\"0\":\"\") + this.getMinutes();\n}\n\ncurrentDate = new Date();\nmsg.payload = { \"time\" : currentDate.timeNow() };\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["d0b7c50c.1512a8"]]},{"id":"1e1d371f.dd4719","type":"function","z":"f2d56ff3.40553","name":"setHttpHeaders","func":"// If sending JSON data the content type is:\nmsg.headers={\"Content-Type\":\"application/json\"};\n\n// For HTML use the content type line below:\n//msg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":280,"wires":[["1962d471.977b4c"]]},{"id":"66bf3278.2d161c","type":"http in","z":"f2d56ff3.40553","name":"/random","url":"/random","method":"get","swaggerDoc":"","x":80,"y":300,"wires":[["972a48c9.9d43a8","946cfdf0.28f6f"]]},{"id":"972a48c9.9d43a8","type":"random","z":"f2d56ff3.40553","name":"","low":"1","high":"6","inte":"true","x":260,"y":300,"wires":[["dcc621db.de696"]]},{"id":"e711fd1f.fefa7","type":"http in","z":"f2d56ff3.40553","name":"/page","url":"/page","method":"get","swaggerDoc":"","x":70,"y":400,"wires":[["b2768198.4ed4a"]]},{"id":"b0a36152.fa67c","type":"template","z":"f2d56ff3.40553","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.time}}\nTime last server time request received at {{payload.time}}\n</br>\n{{#payload.random}}\nLast random number request returned {{payload.random}}, which was received at {{payload.time}}\n{{/payload.random}}\n\n{{^payload.random}}\nNo requests for random numbers have been received\n{{/payload.random}}\n{{/payload.time}}\n\n{{^payload.time}}\nNo server time requests have been received\n{{/payload.time}}\n\n\n","x":690,"y":400,"wires":[["1962d471.977b4c"]]},{"id":"dcc621db.de696","type":"function","z":"f2d56ff3.40553","name":"setNumber","func":"number = msg.payload;\nmsg.payload = { \"random\": number };\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["d0b7c50c.1512a8"]]},{"id":"d0b7c50c.1512a8","type":"function","z":"f2d56ff3.40553","name":"setContextFlow","func":"flowContext = context.flow;\nif(msg.payload.time) {\n    flowContext.payload.time = msg.payload.time;\n}\n\nif(msg.payload.random) {\n    flowContext.payload.random = msg.payload.random;\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["1e1d371f.dd4719","bed4bc0e.d3a5a"]]},{"id":"a1d93a24.e572c8","type":"debug","z":"f2d56ff3.40553","name":"debug-flow","active":true,"console":"false","complete":"payload","x":1150,"y":180,"wires":[]},{"id":"bed4bc0e.d3a5a","type":"function","z":"f2d56ff3.40553","name":"getFlow","func":"msg.payload = {\n    \"time\": context.flow.payload.time,\n    \"random\": context.flow.payload.random\n};\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":180,"wires":[["a1d93a24.e572c8"]]},{"id":"b2768198.4ed4a","type":"function","z":"f2d56ff3.40553","name":"getFlow","func":"msg.payload = {\n    \"time\": context.flow.payload.time,\n    \"random\": context.flow.payload.random\n};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["b0a36152.fa67c"]]},{"id":"3023f1b4.7b737e","type":"inject","z":"f2d56ff3.40553","name":"callClearFlow","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":460,"wires":[["f41f510f.4cc07"]]},{"id":"f41f510f.4cc07","type":"function","z":"f2d56ff3.40553","name":"clearFlow","func":"context.flow.payload = {};\nnode.send({ \"payload\": \"Clear Flow data.\"});","outputs":1,"noerr":0,"x":270,"y":460,"wires":[["bec97a34.86c118"]]},{"id":"3619b310.61c53c","type":"catch","z":"f2d56ff3.40553","name":"","scope":null,"x":260,"y":540,"wires":[["bec97a34.86c118"]]},{"id":"bec97a34.86c118","type":"debug","z":"f2d56ff3.40553","name":"debug","active":true,"console":"false","complete":"payload","x":450,"y":500,"wires":[]},{"id":"946cfdf0.28f6f","type":"http request","z":"f2d56ff3.40553","name":"getTime","method":"GET","ret":"obj","url":"http://nodered.eu-gb.mybluemix.net/time","tls":"","x":260,"y":360,"wires":[[]]}]