assignment3.txt
[{"id":"dce384b2.1dd328","type":"wiotp out","z":"caa99a52.9eb3a8","authType":"d","qs":"true","qsDeviceId":"dce384b2.1dd328","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":744,"y":219,"wires":[]},{"id":"fa7d4022.709f68","type":"inject","z":"caa99a52.9eb3a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":104,"y":120.5,"wires":[["8dcf149e.c6a91"]]},{"id":"8dcf149e.c6a91","type":"exec","z":"caa99a52.9eb3a8","command":"vcgencmd measure_temp","addpay":true,"append":"","useSpawn":false,"timer":"","name":"","x":204,"y":229,"wires":[["1d6ee44b.648384"],[],[]]},{"id":"693a9cc6.109bd4","type":"debug","z":"caa99a52.9eb3a8","name":"log after get temp","active":true,"console":"false","complete":"payload","x":643,"y":152,"wires":[]},{"id":"1d6ee44b.648384","type":"function","z":"caa99a52.9eb3a8","name":"","func":"var temp = parseFloat(msg.payload.match(/^temp=(\\S+)'C/)[1]);\nmsg.payload = { 'd' : { 'temp' : temp } };\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":246,"wires":[["dce384b2.1dd328","693a9cc6.109bd4"]]}]
